openapi: 3.0.0
info:
  title: wiki page相关接口
  description: |

    wiki page相关接口

  version: '2.0'

parameters:
  teamUUID:
    name: teamUUID
    in: path
    description: 团队UUID
    required: true
    minLength: 8
    maxLength: 8
    schema:
      type: string
  spaceUUID:
    name: spaceUUID
    in: path
    description: 页面组UUID
    required: true
    minLength: 8
    maxLength: 8
    schema:
      type: string
  pageUUID:
    name: pageUUID
    in: path
    description: 页面UUID
    required: true
    minLength: 8
    maxLength: 8
    schema:
      type: string
  version:
    name: version
    in: query
    description: 根据版本号获取page,默认获取最近版本
    required: false
    schema:
      type: integer
  space_uuid:
    name: space_uuid
    in: body
    description: 页面组UUID
    required: true
    minLength: 8
    maxLength: 8
    schema:
      type: string
  parent_uuid:
    name: parent_uuid
    in: body
    description: 父页面uuid
    required: true
    minLength: 8
    maxLength: 8
    schema:
      type: string
  versionInBody:
    name: version
    in: body
    description: page version
    required: true
    schema:
      type: integer
  previous_uuid:
    name: previous_uuid
    in: body
    description: 前一个节点的uuid
    required: true
    minLength: 8
    maxLength: 8
    schema:
      type: string
  previous_relation:
    name: previous_relation
    in: body
    description: 与前一个节点的关系，值为child或者brother
    required: true
    schema:
      type: string
      
servers:
  - url: 'https://api.ones.ai/project/v1'
paths:
  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}:
    get:
      tags: 
        - Page
      summary: 获取某个page内容
      parameters:
        - $ref: '#/parameters/teamUUID'
        - $ref: '#/parameters/spaceUUID'
        - $ref: '#/parameters/pageUUID'
        - $ref: '#/parameters/version'
      responses:
        "200":
          description: 返回page详情
          content:
              application/json:
                schema:
                  $ref: '#/definitions/Page'
        "404":
          description: NotFound.Page
  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/delete:
    post:
      parameters: 
      - $ref: '#/parameters/teamUUID'
      - $ref: '#/parameters/spaceUUID'
      - $ref: '#/parameters/pageUUID'
      tags:
        - Page
      summary: 删除某个页面
      responses:
        "200":
          description: 删除成功
        "403":
          description: ConstraintViolation.RootPageCannotDelete 主页不能被删除
        "404":
          description: NotFound.Page 找不到该page
          
  /team/{teamUUID}/space/{spaceUUID}/pages:
    get:
      tags: 
        - Page
      summary: 获取pages列表
      parameters:
        - $ref: '#/parameters/teamUUID'
        - $ref: '#/parameters/spaceUUID'
      responses:
        "200":
          description: 返回page列表
          content:
              application/json:
                schema:
                  $ref: '#/definitions/ListPagesResponse'
        "500":
          description: ServerError
          
  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/update:
    post:
      parameters: 
      - $ref: '#/parameters/teamUUID'
      - $ref: '#/parameters/spaceUUID'
      - $ref: '#/parameters/pageUUID'
      - $ref: '#/parameters/space_uuid'
      - $ref: '#/parameters/parent_uuid'
      - $ref: '#/parameters/versionInBody'
      tags:
        - Page
      summary: 移动某个页面
      responses:
        "200":
          description: 成功
        "403":
          description: ConstraintViolation.MovedPagePathInvalid 路径不合法
        "404":
          description: NotFound.Page 找不到该page

  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/history:
    get:
      tags: 
        - Page
      summary: 获取页面历史
      parameters:
        - $ref: '#/parameters/teamUUID'
        - $ref: '#/parameters/spaceUUID'
        - $ref: '#/parameters/pageUUID'
      responses:
        "200":
          description: 返回页面历史列表
          content:
              application/json:
                schema:
                  $ref: '#/definitions/ListHistoryResponse'
        "500":
          description: ServerError
          
  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/revert:
    post:
      parameters: 
      - $ref: '#/parameters/teamUUID'
      - $ref: '#/parameters/spaceUUID'
      - $ref: '#/parameters/pageUUID'
      - $ref: '#/parameters/version'
      tags:
        - Page
      summary: page 回滚特定版本
      responses:
        "200":
          description: 成功
        "404":
          description: NotFound.Page 找不到该page
          
  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/sort:
    post:
      parameters: 
      - $ref: '#/parameters/teamUUID'
      - $ref: '#/parameters/spaceUUID'
      - $ref: '#/parameters/pageUUID'
      - $ref: '#/parameters/previous_uuid'
      - $ref: '#/parameters/previous_relation'
      tags:
        - Page
      summary: page 排序
      responses:
        "200":
          description: 成功
        "404":
          description: NotFound.Page 找不到该page
                       NotFound.Space 找不到space
        "403":
          description: ConstraintViolation.MovedPagePathInvalid 路径不合法

  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/attachments:
    get:
      tags: 
        - Page
      summary: 获取 page 附件
      parameters:
        - $ref: '#/parameters/teamUUID'
        - $ref: '#/parameters/spaceUUID'
        - $ref: '#/parameters/pageUUID'
      responses:
        "200":
          description: 返回页面历史列表
          content:
              application/json:
                schema:
                  $ref: '#/definitions/ListAttachmentsResponse'
        "500":
          description: ServerError

  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/attachments/update:
    post:
      parameters: 
      - $ref: '#/parameters/teamUUID'
      - $ref: '#/parameters/spaceUUID'
      - $ref: '#/parameters/pageUUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/definitions/UpdateAttachmentRequest'
        description: 请求体
        required: false
      tags:
        - Page
      summary: 更新page附件
      responses:
        "200":
          description: 成功
        "404":
          description: NotFound.Page 找不到该page
                       NotFound.Space 找不到space
          
  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/export:
    get:
      tags: 
        - Page
      summary:  page 导出
      parameters:
        - $ref: '#/parameters/teamUUID'
        - $ref: '#/parameters/spaceUUID'
        - $ref: '#/parameters/pageUUID'
      responses:
        "200":
          description: 成功
        "500":
          description: ServerError
          
  /team/{teamUUID}/space/{spaceUUID}/page/{pageUUID}/watch:
    post:
      parameters: 
      - $ref: '#/parameters/teamUUID'
      - $ref: '#/parameters/spaceUUID'
      - $ref: '#/parameters/pageUUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/definitions/WatchPageRequest'
        description: 请求体
        required: false
      tags:
        - Page
      summary: 关注页面(添加或删除关注者)
      responses:
        "200":
          description: 成功
        "404":
          description: NotFound.Page 找不到该page
                       NotFound.Space 找不到space
                       
                       
definitions:
  Page:
    type: object
    properties:
      uuid:
        description: uuid
        type: string
        maxLength: 8
        minLength: 8
      owner_uuid:
        description: owner_uuid
        type: string
        maxLength: 8
        minLength: 8
      title:
        description: title
        type: string
      content:
        description: content
        type: string
      version:
        description: 页面版本
        type: integer
      from_version:
        description: 上一个页面版本
        type: integer
      draft_uuid:
        description: draft_uuid
        type: string
        maxLength: 8
        minLength: 8
      updated_time:
        description: 更新时间
        type: integer
        format: int64
      watch_users:
        description: 页面关注者
        type: array
        items:
          type: string
          maxLength: 8
          minLength: 8
  ListPagesResponse:
    type: object
    properties:
      pages:
        type: array
        items:
          $ref: '#/definitions/Page'
  From:
    type: object
    properties:
      version:
        description: version
        type: integer
      updated_time:
        description: updated_time
        type: integer
        format: int64
  History:
    type: object
    properties:
      owner_uuid:
        description: owner_uuid
        type: string
      title:
        description: title
        type: string
      version:
        description: version
        type: integer
      is_revert:
        description: is_revert
        type: boolean
      updated_time:
        description: updated_time
        type: integer
        format: int64
      from:
        $ref: '#/definitions/From'
  ListHistoryResponse:
    type: object
    properties:
      history:
        type: array
        items:
          $ref: '#/definitions/History'
  Attachment:
    properties:
      uuid:
        description: uuid
        type: string
      name:
        description: name
        type: string
  ListAttachmentsResponse:
    type: object
    properties:
      attachments:
        type: array
        items:
          $ref: '#/definitions/Attachment'
  UpdateAttachmentRequest:
    properties:
      add:
        description: 新增attachment
        type: array
        items:
            $ref: "#/definitions/Attachment"
        required: false
      remove:
        description: 删除attachment
        type: array
        items:
            $ref: "#/definitions/Attachment"
        required: false
  WatchPageRequest:
    properties:
      add_users:
        type: array
        items:
          type: string
      delete_users:
        type: array
        items:
          type: string